# Automatically detect text files and perform LF normalization
* text=auto

# Visual Studio
*.sln     merge=union text eol=crlf
*.config  merge=union text eol=lf

# C#
*.cs      merge=union diff=csharp text eol=lf
*.csproj  merge=union text eol=crlf

# WPF (Windows Presentation Foundation)
*.xaml    merge=union text eol=lf
